.section2{
	background-image: url('../01.jpg');
	background-size: cover;
	height:360px;
	margin-bottom:80px;
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.clock{
	margin-top:50px;
}

.light{
	font-family: 'Roboto', sans-serif;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: -100px;
}
.orange{
	background:#fff;
}
.btn-green { 
  color: #ffffff; 
  background-color: #6AD410; 
  border-color: #6AD410; 
} 
 
.btn-green:hover, 
.btn-green:focus, 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  color: #ffffff; 
  background-color: #61BF0F; 
  border-color: #6AD410; 
} 
 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  background-image: none; 
} 
 
.btn-green.disabled, 
.btn-green[disabled], 
fieldset[disabled] .btn-green, 
.btn-green.disabled:hover, 
.btn-green[disabled]:hover, 
fieldset[disabled] .btn-green:hover, 
.btn-green.disabled:focus, 
.btn-green[disabled]:focus, 
fieldset[disabled] .btn-green:focus, 
.btn-green.disabled:active, 
.btn-green[disabled]:active, 
fieldset[disabled] .btn-green:active, 
.btn-green.disabled.active, 
.btn-green[disabled].active, 
fieldset[disabled] .btn-green.active { 
  background-color: #6AD410; 
  border-color: #6AD410; 
} 
 
.btn-green .badge { 
  color: #6AD410; 
  background-color: #ffffff; 
}

.btn-blue { 
  color: #ffffff; 
  background-color: #08467A; 
  border-color: #08467A; 
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #ffffff; 
  background-color: #052E4F; 
  border-color: #08467A; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  background-image: none; 
} 
 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
  background-color: #08467A; 
  border-color: #08467A; 
} 
 
.btn-blue .badge { 
  color: #08467A; 
  background-color: #ffffff; 
}
@media(max-width:2000px) {
	.phyzeek{
	margin:9em auto;
	}
}
}

@media(max-width:991px) {
	.phyzeek{
	margin:9em auto;
	}
}

@media(max-width:768px) {
	.phyzeek{
	margin:0em auto;
}
	.myclock{
  		zoom: 0.7;
  		margin:0 20px;
	}
}

@media(max-width:668px) {
	.phyzeek{
	margin:0em auto;
}
	.myclock{
  		zoom: 0.6
	}
}

@media(max-width:640px) {
	.phyzeek{
	margin:0em auto;
}
	.myclock{
  		zoom: 0.4
	}
}

@media(max-width:375px) {
	.phyzeek{
	margin:0em auto;
}
	.myclock{
  		zoom: 0.2
	}
	.watch{
		padding:10%;
		}
}